@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-primary-dark: hsl(16, 79%, 54%);
  --clr-background: #fff;
  --clr-text-light: #fff;
  --clr-text-dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-background);
}

.grid-container {
  display: grid;
}

.page-header {
  background-color: var(--clr-primary-dark);
  color: var(--clr-text-dark);
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-container a {
  margin: 1em;
}

.card {
  outline: 3px solid var(--clr-text-dark);
  border-radius: 25px;
  padding: 1em;
  display: flex;
}

.card img {
  width: 25vw;
}