@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-primary-dark: hsl(16, 79%, 54%);
  --clr-primary-light: hsl(16, 79%, 92%);
  --clr-background: #fff;
  --clr-text-light: #fff;
  --clr-text-dark: #000;
  --clr-secondary-darker: hsl(198, 52%, 40%);
  --clr-secondary-dark: hsl(198, 52%, 56%);
  --clr-secondary-light: hsl(197, 51%, 92%);
  --font-primary: 'Montserrat', sans-serif;
  --max-width-content: 860px;
  /* 1314 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.text-centre {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background-color: var(--clr-background);
}

p, .post-body ul {
  margin: 0 0 1.6em;
}

.post-body p:last-of-type {
  margin-bottom: .5rem;
}

.post-body ul {
  padding-left: 1.5rem;
}

.post-body figure {
  display: inline-block;
}

.post-body .float-left {
  float: left;
  margin: 1rem 1.5rem 1rem 0;
  width: clamp(200px, 30vw, 450px);
}

.post-body .float-left > *, .post-body .float-right > * {
  width: clamp(200px, 30vw, 450px);
}

.post-body .float-right {
  float: right;
  margin: 1rem 0 1rem 1.5rem;
  width: clamp(200px, 30vw, 450px);
}

.post-body .img-centre {
  width: 100%;
  max-width: 500px;
  padding: 1em 0;
  align-self: center;
}

.intro-text {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.post-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

figcaption {
  font-size: .9rem;
}

.clear {
  clear: both;
}

h1, h2, h3, h4 {
  margin: 0 0 .75rem;
}

table {
  margin-bottom: 1rem;
}

a:focus, a:hover {
  text-decoration: none;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template:
  "header header header" min-content
  "content content content" auto
  "footer footer footer" min-content;
}

.content-container > * {
  margin: 0 auto;
  max-width: var(--max-width-content);
}

.under17 {
  display: none;
}

.age18 {
  display: none;
}

.age17 {
  display: none;
}

.page-header {
  grid-area: header;
  background-color: var(--clr-primary-dark);
  color: var(--clr-text-dark);
  height: 5rem;
  display: flex;
  align-items: center;
}

.menu-toggle-button {
  display: none;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  font-family: var(--font-primary);
  font-size: 1rem;
  border: none;
}

.menu-toggle-button:hover {
  text-decoration: none;
}

.primary-nav {
  display: flex;
  gap: 1rem;
  padding-left: 2rem;
  height: 100%;
  width: 100%;
  align-items: center;
}

.primary-nav ul {
  display: flex;
  gap: 1rem;
}

.primary-nav ul, .footer-nav ul{
  list-style-type: none;
}

.primary-nav a {
  color: #000;
  text-transform: capitalize;
}

.primary-nav .active {
  text-decoration: none;
  cursor: default;
}

.primary-nav .title {
  text-decoration: none;
}

.primary-nav h1 {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.content {
  grid-area: content;
}

.content-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.flex-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-horizontal {
  display: flex;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fefefe;
}

td, th {
  border: 1px solid var(--clr-text-dark);
  text-align: left;
  padding: 8px;
}

.parties table .party-logo {
  border-right: none;
  text-align: center;
}

.parties table .party-logo + td {
  border-left: none;
}

table .party-logo img {
  max-width: 5rem;
  max-height: 2.3rem;
  object-fit: cover;
}

.candidates-table .party-logo {
  border-left: none;
  text-align: center;
}

.candidates-table td:nth-child(1) {
  border-right: none;
}

.candidates table td:nth-child(2) {
  padding-left: 1rem;
  border-right: none;
}

.mock-election-form table .radio {
  background-color: #000;
  padding: 0;
}

.mock-election-form .parties table .radio {
  height: 2.3rem;
  width: 2.2rem;
}

.mock-election-form .candidates table .radio {
  height: 3.5rem;
  width: 2.2rem;
}

.mock-election-form table, .candidates-table {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.mock-election-form {
  display: grid;
  grid-template: "parties candidates" "submit submit" / 1fr 1fr;
  column-gap: 2rem;
}

.mock-election-form .parties {
  grid-area: parties;
}

.mock-election-form .candidates {
  grid-area: candidates;
}

.mock-election-form h2 {
  text-align: center;
  margin-bottom: 1em;
}

.mock-election-form input[type=submit] {
  grid-area: submit;
}

.mock-election-form input[type="radio"] {
  accent-color: var(--clr-primary-dark);
  border: 0px;
  width: 100%;
  height: 1.25rem;

}

.mock-election-form tr:hover {
  background-color: var(--clr-secondary-light);
}

.even-columns {
  display: flex;
  width: 100%;
}

.even-columns > *{
  flex-grow: 1;
  flex-basis: 0;
}

form h3 {
  margin: 1rem 0 .375rem 0;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input[type=submit], .cta-button {
  margin: 1rem 0;
  width: min-content;
  background-color: var(--clr-primary-dark);
  padding: .5rem 1.5rem;
  color: var(--clr-text-dark);
  border: none;
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
}

.mock-election-form .radio {
  flex-direction: row;
}

.parties .radio {
  flex-direction: row-reverse;
}

.labels {
  gap: .5rem;
}

.mock-election-form label {
  font-weight: 600;
  text-transform: uppercase;

}

.mock-election-form .candidates label {
  font-weight: semibold;
}

.sublabel {
  font-size: .75rem;
  font-weight: 400;
}


input[type=radio] {
  accent-color: var(--clr-primary-dark);
}

input[type=submit]:hover, .cta-button:hover, input[type=submit]:focus, .cta-button:focus {
  background-color: var(--clr-text-light);
  outline: 3px solid var(--clr-primary-dark);
  outline-offset: -3px;
  color: var(--clr-primary-dark);
}

select {
  margin: .375rem 0 0 0;
  background: none;
  border: none;
  width: min-content;
  outline: 3px solid var(--clr-primary-dark);
  outline-offset: -3px;
  font-size: 1em;
  padding: .5em;
  font-family: var(--font-primary);
}

select:hover, select:focus {
  outline-color: var(--clr-secondary-dark);
}

.iframe-container, .iframe-container-vote {
  padding: 0 !important;
  margin: 0;
}

.iframe-container > * {
  width: 71vw;
  aspect-ratio: 1/1.41;
  max-width: 1200px;
}

.iframe-container-vote > * {
  width: 90vw;
  aspect-ratio: 1/1.41;
  max-width: 1200px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  max-width: 1568px;
}

.card-container a {
  margin: 1em;
  min-width: 250px;
  max-width: 673px;
  text-decoration: none;
  color: var(--clr-text-dark);
}

.card-container a:hover .card, .card-container a:focus .card{
  background-color: var(--clr-secondary-light);
  outline-color: var(--clr-secondary-dark);
}

.card {
  outline: 3px solid var(--clr-text-dark);
  border-radius: 25px;
  padding: 1em;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  height: 291px;
  justify-content: center;
  overflow: hidden;
}

.coloured-card, .secondary-colour {
  background-color: var(--clr-secondary-light);
  outline: 3px solid var(--clr-secondary-dark);
}

.box {
  border-radius: 25px;
  padding: 1em 1em 0.5em 1em;
  margin-bottom: 1.6em;
  margin-bottom: 1.6em;
margin-top: 1.6em;
}

.secondary-colour a {
  color: var(--clr-text-dark) !important;
}

.post-container a {
  color: var(--clr-secondary-darker);
}

.card-img-container {
  grid-area: 1 / 1 / 3 / 3;
  width: 25vw;
  min-width: 100px;
  max-width: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  grid-area: 1 / 3 / 3 / 6; 
}

.post-body:last-of-type {
  padding-bottom: 0px;
}

footer {
  grid-area: footer;
  background-color: var(--clr-secondary-dark);
  padding: 2rem 0;
}

footer a {
  color: var(--clr-text-dark);
}

.footer-nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.wordmark {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  .content-container > * {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 1322px) {
  .iframe-container-vote > * {
    width: 90vw;
    aspect-ratio: 1/3;
  }
}

@media screen and (max-width: 1126px) {
  .card-img-container {
    max-width: 150px;
  }

}

@media screen and (max-width: 941px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 327px;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .card-content p {
    display: none;
  }

  .img-margin {
    margin-right: -3rem;
  }

}

@media screen and (max-width: 900px) {
  .mock-election-form {
    grid-template:
    "parties"
    "candidates"
    "submit";
  }

  .mock-election-form .candidates {
    margin-top: 4rem;
  }

}

@media screen and (max-width: 750px) {
  .card-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .card {
    width: auto;
  }
}

@media screen and (max-width: 555px) {

  .primary-nav ul {
    display: none;
  }

  .menu-toggle-button {
    display: block;
  }

  .menu-toggle-open {
    text-decoration: none;
  }

  .mobile-menu-open {
    background-color: var(--clr-primary-dark);
    display: flex !important;
    position: absolute;
    gap: 2rem;
    margin-top: 8.5rem;
    padding: 2rem 0;
    margin-left: -2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mobile-menu-open a {
    padding: .5rem;
  }

  .footer-nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 460px){
  .post-body .float-left, .post-body .float-right {
    float: none;
    margin: 0;
    width: 100%;
  }

  .post-body .float-left > *, .post-body .float-right > * {
    width: 100%; 
  }
  
}